@mixin list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@mixin section-header {
  font: {
    family: var(--font-family-young-serif);
    size: 1.7rem;
  }
  color: var(--color-brown-800);
  margin-block-end: 1.58rem;
  letter-spacing: 0.04rem;
}
